<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzMA3XYenjk-Vk3a7pBpp7oC9W-89XZy0</string>
	<key>GCM_SENDER_ID</key>
	<string>1052746420772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zekibiyikli.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-157ff</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-157ff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052746420772:ios:5d5105ab8835de37f93eb1</string>
</dict>
</plist>